---
import {getCollection} from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('works'))
    .slice(0, 4);
---

<BaseLayout
        title="Your friendly software developer from Essex, UK"
        description="Senior software developer in London with expertise in Pyhon, PHP with a track record of delivering scalable web applications and custom solutions."
>
    <main>

        <section class="wrapper stack gap-20 lg:gap-48">
            <header class="hero">
                <Hero
                        title="Software Engineer"
                        tagline="spending most of my time refining solutions rather than reinventing them."
                        align="start"
                >
                    <div class="roles">
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Senior Developer
                        </Pill>

                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Essex
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Python
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Laravel
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Symfony
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Drupal
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            Magento
                        </Pill>
                    </div>
                </Hero>

                <img
                        alt="Senior software developer in London"
                        style="box-shadow: none !important;aspect-ratio: 3/3; border-radius: 1.5rem;"
                        height="620"
                        src="https://avatars.githubusercontent.com/u/2276408?s=400&v=4"
                />
            </header>
        </section>

        <section class="wrapper with-background bg-variant mt-20">
            <header class="section-header stack gap-y-20 lg:gap-4">
                <h2 title="Softwaer Development Services">
                    <a title="Software Development Services" href="/services">Services</a>
                </h2>
                <p>
                    Explore my expertise in popular programming languages and web development frameworks.
                </p>
            </header>
            <div class="grid grid-cols-3 gap-7">
                {
                    [
                        {name: 'PHP', url: '/services/php'},
                        {name: 'Python', url: '/services/python'},
                        {name: 'Laravel', url: '/services/laravel'},
                        {name: 'Symfony', url: '/services/symfony'},
                        {name: 'Magento', url: '/services/magento'},
                        {name: 'Drupal', url: '/services/drupal'},
                        {name: 'WordPress', url: '/services/wordpress'},
                        {name: 'Cybersecurity', url: '/services/cybersecurity'},
                    ].map((language) => (
                            <div class={`mention-card ${language.name === 'Cybersecurity' ? 'col-span-2' : ''}`}>
                                <h2 title={`${language.name} Development Services`}>
                                    <a href={language.url} title={language.name}>
                                        {language.name}
                                    </a>
                                </h2>
                            </div>
                    ))
                }
            </div>

        </section>

        <section class="wrapper container stack gap-10 lg:gap-18 mt-20">
            <header class="section-header stack lg:gap-20 ">
                <h1 title="Portfolio of Laravel Projects">
                    <a title="Portfolio of my hoby projects" href="/work">Works</a>
                </h1>
                <p>
                    Check out my portfolio of Laravel projects and see how I can help you build your next web application.
                </p>
            </header>
            <div class="grid grid-cols-2 gap-7">
                {
                    projects.map((project) => (
                            <PortfolioPreview project={project}/>
                    ))
                }
            </div>
        </section>

        <!--
        <section class="bg-white dark:bg-gray-900">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white lg:text-4xl">
                        Books, Articles, and Tutorials
                    </h2>
                    <p class="mb-8 text-gray-500 dark:text-gray-400 sm:text-xl lg:mb-16">
                        Check out some of the books and articles that i've written
                    </p>
                </div>
                <div class="mb-16 grid gap-8 lg:grid-cols-3 lg:divide-x lg:divide-gray-200 dark:lg:divide-gray-700">
                    <article>

                        <h2 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <a href="#">SEO Basics: Beginner's Guide to SEO Success</a>
                        </h2>
                        <p class="mb-4 text-gray-500 dark:text-gray-400">
                            Over the past year, Volosoft has undergone many changes! After
                            months of preparation and some hard work, we moved to our new
                            office.
                        </p>
                        <a
                                href="#"
                                class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                        >
                            Read more

                        </a>
                    </article>
                    <div class="space-y-8 lg:pl-8">
                        <article>
                            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">How to quickly deploy a static website</a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400">
                                Over the past year, Volosoft has undergone many changes! After
                                months of preparation and some hard work, we moved to our new
                                office.
                            </p>
                            <a
                                    href="#"
                                    class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                            >
                                Read more
                                <svg
                                        class="ml-2 h-4 w-4"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fillRule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clipRule="evenodd"
                                    />
                                </svg>
                            </a>
                        </article>
                        <article>
                            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">
                                    What is SEO? Search Engine Optimization Explained
                                </a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400">
                                Over the past year, Volosoft has undergone many changes! After
                                months of preparation and some hard work, we moved to our new
                                office.
                            </p>
                            <a
                                    href="#"
                                    class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                            >
                                Read more
                                <svg
                                        class="ml-2 h-4 w-4"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fillRule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clipRule="evenodd"
                                    />
                                </svg>
                            </a>
                        </article>
                        <article>
                            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">
                                    Spotify's Car Thing available to all premium users
                                </a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400">
                                Over the past year, Volosoft has undergone many changes! After
                                months of preparation and some hard work, we moved to our new
                                office.
                            </p>
                            <a
                                    href="#"
                                    class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                            >
                                Read more
                                <svg
                                        class="ml-2 h-4 w-4"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fillRule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clipRule="evenodd"
                                    />
                                </svg>
                            </a>
                        </article>
                    </div>
                    <div class="space-y-8 lg:pl-8">
                        <article>
                            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">How to Rank Higher on Google (6 Easy Steps)</a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400">
                                Over the past year, Volosoft has undergone many changes! After
                                months of preparation and some hard work, we moved to our new
                                office.
                            </p>
                            <a
                                    href="#"
                                    class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                            >
                                Read more
                                <svg
                                        class="ml-2 h-4 w-4"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fillRule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clipRule="evenodd"
                                    />
                                </svg>
                            </a>
                        </article>
                        <article>
                            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">
                                    12 SEO Best Practices That Everyone Should Follow
                                </a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400">
                                Over the past year, Volosoft has undergone many changes! After
                                months of preparation and some hard work, we moved to our new
                                office.
                            </p>
                            <a
                                    href="#"
                                    class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                            >
                                Read more
                                <svg
                                        class="ml-2 h-4 w-4"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fillRule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clipRule="evenodd"
                                    />
                                </svg>
                            </a>
                        </article>
                        <article>
                            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">How to schedule your Tweets to send later</a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400">
                                Over the past year, Volosoft has undergone many changes! After
                                months of preparation and some hard work, we moved to our new
                                office.
                            </p>
                            <a
                                    href="#"
                                    class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500"
                            >
                                Read more
                                <svg
                                        class="ml-2 h-4 w-4"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fillRule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clipRule="evenodd"
                                    />
                                </svg>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        !-->
    </main>
</BaseLayout>
<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .roles {
        display: none;
    }

    .hero img {
        aspect-ratio: 5 / 4;
        object-fit: cover;
        object-position: top;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    @media (min-width: 50em) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;

            gap: 3.75rem;
        }

        .roles {
            margin-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
        }

        .hero img {
            aspect-ratio: 3 / 4;
            border-radius: 4.5rem;
            object-fit: cover;
        }
    }

    /* ====================================================== */

    .section {
        display: grid;
        gap: 2rem;
    }

    .with-background {
        position: relative;
    }

    .with-background::before {
        --hero-bg: var(--bg-image-subtle-2);

        content: '';
        position: absolute;
        pointer-events: none;
        left: 50%;
        width: 100vw;
        aspect-ratio: calc(2.25 / var(--bg-scale));
        top: 0;
        transform: translateY(-75%) translateX(-50%);
        background: url('/assets/backgrounds/noise.png') top center/220px repeat,
        var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
        background-blend-mode: overlay, normal, normal, normal;
        mix-blend-mode: var(--bg-blend-mode);
        z-index: -1;
    }

    .with-background.bg-variant::before {
        --hero-bg: var(--bg-image-subtle-1);
    }

    .section-header {
        justify-self: center;
        text-align: center;
        margin-bottom: 2vh;
        font-size: var(--text-md);
        color: var(--gray-300);
    }

    .section-header h3 {
        font-size: var(--text-2xl);
    }

    @media (min-width: 50em) {
        .section {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
            gap: 5rem;
        }

        .section.with-cta {
            grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
        }

        .section-header {
            grid-area: header;
            font-size: var(--text-lg);
        }

        .section-header h3 {
            font-size: var(--text-5xl);
        }

        .with-cta .section-header {
            justify-self: flex-start;
            text-align: left;
        }

        .gallery {
            grid-area: gallery;
        }

        .cta {
            grid-area: cta;
        }
    }

    /* ====================================================== */

    .mention-card {
        display: flex;
        height: 7rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid var(--gray-800);
        border-radius: 1.5rem;
        color: var(--gray-300);
        background: var(--gradient-subtle);
        box-shadow: var(--shadow-sm);

        h2 {
            font-size: var(--text-2xl);
            @media (max-width: 32em) {
                font-size: 1.2rem;
            }
        }
    }

    @media (min-width: 50em) {
        .mention-card {
            border-radius: 1.5rem;
            height: 9.5rem;
        }
    }


</style>