---
import {getCollection} from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('works'))
    .slice(0, 4);
---

<BaseLayout
        title="Expert Laravel Developer in London"
        description="Senior software developer in London with expertise in Pyhon, PHP with a track record of delivering scalable web applications and custom solutions."
>
    <main>

        <section class="wrapper stack gap-20 lg:gap-48">
            <header class="hero">
                <Hero
                        title="Senior Software Developer"
                        tagline="I'm Stefan, a senior software developer specializing in software development, available for hire.!"
                        align="start"
                >
                    <div class="roles">
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"/>
                            </svg>
                            #Senior Developer
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            #London
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            #Essex
                        </Pill>
                    </div>
                </Hero>

                <img
                        alt="Senior PHP and Laravel developer in London"
                        style="box-shadow: none !important;aspect-ratio: 3/3; border-radius: 1.5rem;"
                        height="620"
                        src="https://avatars.githubusercontent.com/u/2276408?s=400&v=4"
                />
            </header>
        </section>

        <section class="wrapper with-background bg-variant mt-20">
            <header class="section-header stack gap-y-20 lg:gap-4">
                <h2 title="Softwaer Development Services">
                    <a title="Software Development Services" href="/services">Services</a>
                </h2>
                <p>
                    Explore my expertise in popular programming languages and web development frameworks.
                </p>
            </header>
            <div class="grid grid-cols-3 gap-7">
                {
                    [
                        {name: 'PHP', url: '/services/php'},
                        {name: 'Python', url: '/services/python'},
                        {name: 'Laravel', url: '/services/laravel'},
                        {name: 'Symfony', url: '/services/symfony'},
                        {name: 'Magento', url: '/services/magento'},
                        {name: 'Drupal', url: '/services/drupal'},
                        {name: 'WordPress', url: '/services/wordpress'},
                        {name: 'Cybersecurity', url: '/services/cybersecurity'},
                    ].map((language) => (
                            <div class={`mention-card ${language.name === 'Cybersecurity' ? 'col-span-2' : ''}`}>
                                <h2 title={`${language.name} Development Services`}>
                                    <a href={language.url} title={language.name}>
                                        {language.name}
                                    </a>
                                </h2>
                            </div>
                    ))
                }
            </div>

        </section>

        <section class="wrapper container stack gap-10 lg:gap-18 mt-20">
            <header class="section-header stack lg:gap-20 ">
                <h1 title="Portfolio of Laravel Projects">
                    <a title="Portfolio of my hoby projects" href="/work">Works</a>
                </h1>
                <p>
                    Check out my portfolio of Laravel projects and see how I can help you build your next web application.
                </p>
            </header>
            <div class="grid grid-cols-2 gap-7">
                {
                    projects.map((project) => (
                            <PortfolioPreview project={project}/>
                    ))
                }
            </div>
        </section>

    </main>
</BaseLayout>
<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .roles {
        display: none;
    }

    .hero img {
        aspect-ratio: 5 / 4;
        object-fit: cover;
        object-position: top;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    @media (min-width: 50em) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;

            gap: 3.75rem;
        }

        .roles {
            margin-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
        }

        .hero img {
            aspect-ratio: 3 / 4;
            border-radius: 4.5rem;
            object-fit: cover;
        }
    }

    /* ====================================================== */

    .section {
        display: grid;
        gap: 2rem;
    }

    .with-background {
        position: relative;
    }

    .with-background::before {
        --hero-bg: var(--bg-image-subtle-2);

        content: '';
        position: absolute;
        pointer-events: none;
        left: 50%;
        width: 100vw;
        aspect-ratio: calc(2.25 / var(--bg-scale));
        top: 0;
        transform: translateY(-75%) translateX(-50%);
        background: url('/assets/backgrounds/noise.png') top center/220px repeat,
        var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
        background-blend-mode: overlay, normal, normal, normal;
        mix-blend-mode: var(--bg-blend-mode);
        z-index: -1;
    }

    .with-background.bg-variant::before {
        --hero-bg: var(--bg-image-subtle-1);
    }

    .section-header {
        justify-self: center;
        text-align: center;
        margin-bottom: 2vh;
        font-size: var(--text-md);
        color: var(--gray-300);
    }

    .section-header h3 {
        font-size: var(--text-2xl);
    }

    @media (min-width: 50em) {
        .section {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
            gap: 5rem;
        }

        .section.with-cta {
            grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
        }

        .section-header {
            grid-area: header;
            font-size: var(--text-lg);
        }

        .section-header h3 {
            font-size: var(--text-5xl);
        }

        .with-cta .section-header {
            justify-self: flex-start;
            text-align: left;
        }

        .gallery {
            grid-area: gallery;
        }

        .cta {
            grid-area: cta;
        }
    }

    /* ====================================================== */

    .mention-card {
        display: flex;
        height: 7rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid var(--gray-800);
        border-radius: 1.5rem;
        color: var(--gray-300);
        background: var(--gradient-subtle);
        box-shadow: var(--shadow-sm);

        h2 {
            font-size: var(--text-2xl);
            @media (max-width: 32em) {
                font-size: 1.2rem;
            }
        }
    }

    @media (min-width: 50em) {
        .mention-card {
            border-radius: 1.5rem;
            height: 9.5rem;
        }
    }


</style>